<div class="jumbotron">
    <h1>BAD MANNERS</h1>
    <p class="lead">We've taken over this page!</p><br />
    <img src="https://s-media-cache-ak0.pinimg.com/736x/5b/98/45/5b9845edd2703c02f9b26aa33514b238.jpg" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Start project</h2>
        <p>Getting a sense of what we need to do, creating a basic Xamarin.Forms app, creating the Azure environment, finding out the best architechtural approach for building the app.</p>
    </div>
    <div class="col-md-4">
        <h2>Building the app</h2>
        <p>Putting everything together.</p>
    </div>
    <div class="col-md-4">
        <h2>Eat chicken</h2>
        <p>Because we're hungry!</p>
    </div>
</div>
